body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 4rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-shadow: 4px 0 #da0463;
}

#title {
  margin-top: 100px;
}

#song-list-title {
  padding-top: 2rem;
}

.a {
  background-image: url("images/tom1.png");
}

.s {
  background-image: url("images/tom2.png");
}

.d {
  background-image: url("images/tom3.png");
}

.f {
  background-image: url("images/ride.jpg");
}

.g {
  background-image: url("images/hi-hat-close.jpg");
}

.h {
  background-image: url("images/hi-hat-open.jpg");
}

.j {
  background-image: url("images/kick.png");
}

.k {
  background-image: url("images/snare.png");
}

.l {
  background-image: url("images/crash.png");
}

.set {
  margin: 5% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.red {
  color: red;
}

.song-title {
  font-size: 24px;
  font-family: "Arvo", cursive;
  color:aquamarine;
  margin: 0; 
}

.song-container {
  padding: 10px;
  margin: 8px auto;
  width: max-content;
}

.drum {
  outline: none;
  border: 10px solid #404b69;
  font-size: 4rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 125px;
  height: 125px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
